.invalid-password {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
}


.image-center{
    width: 100%;
    height: 50%;
    align-items: center;
}



.heart{
    color: red;
}