<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" onclick="return false;">Doctors </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Doctor Profile</li>  
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12" *ngIf="doctor_selected">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info">
                                    <h4>Doctor Profile  <span><a href="javascript:;"><i class="feather icon-more-vertical"></i></a></span></h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <!-- <div class="profile-bg-img">
                                        <img  src="assets/img/profile-bg.jpg"  alt="Profile">
                                    </div> -->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                <div class="profile-user-img">
                                                    <img  src="assets/img/profile-user-01.jpg"  alt="Profile">
                                                    <div class="form-group doctor-up-files profile-edit-icon mb-0">
                                                        <div class="uplod d-flex">
                                                            <label class="file-upload profile-upbtn mb-0">
                                                                <img  src="assets/img/icons/camera-icon.svg"  alt="Profile"><input type="file">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="names-profiles">
                                                    <h4>{{ doctor_name }} {{ doctor_surname }}</h4>
                                                    <h5>{{ specialitie_name }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>Appointment</h5>
                                                    <h4>{{ appointment_total }}</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Money</h5>
                                                    <h4>{{ generate_money }} €</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Pending Appointment</h5>
                                                    <h4>{{ pending_appointment_total }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <button type="submit" class="btn btn-info follow-btns">Follow</button>
                                                <button type="submit" class="btn btn-info message-btns">Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail ">
                                        <h4 class="mb-3">About me</h4>
                                        <p>Hello I am Smith Bruklin a Gynaecologist in Sanjivni Hospital Surat. I love to work with all my hospital staff and seniour doctors.</p>
                                    </div>
                                    <div class="about-me-list">
                                        <ul class="list-space">
                                            <li>
                                                <h4>Gender</h4>
                                                <span>{{ doctor_gender_name }}</span>
                                            </li>
                                            <li>
                                                <h4>Operation Done</h4>
                                                <span>30+</span>
                                            </li>
                                            <li>
                                                <h4>Designation</h4>
                                                <span>{{ doctor_designation }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail">
                                        <h4>Skills:</h4>
                                    </div>
                                    <div class="skill-blk">
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Heart Beat</h5>
                                                <p>45%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-operations" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Haemoglobin</h5>
                                                <p>85%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-haemoglobin" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Blood Pressure </h5>
                                                <p>65%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-statistics" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Sugar </h5>
                                                <p>90%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-visit" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content-set">
                                        <ul class="nav">
                                            <li>
                                                <a href="#" onclick="return false;" [ngClass]="{'active': tab_selected == 1}" (click)="tabSeleted(1)"><span class="set-about-icon me-2" ><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>List Appointments</a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="return false;" [ngClass]="{'active': tab_selected == 2}" (click)="tabSeleted(2)"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-16.svg" alt=""></span>Settings</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ng-container *ngIf="tab_selected == 1">
                                        <div class="activity">
                                            <div class="activity-box">
                                                <ul class="activity-list">
                                                    <ng-container *ngFor="let appointment of appointments">
                                                        <li>
                                                            <div class="activity-user">
                                                                <a href="#" onclick="return false;" [title]="appointment.patient.fullname" data-bs-toggle="tooltip" class="avatar">
                                                                    <img [attr.alt]="appointment.patient.fullname" [src]="appointment.doctor.avatar" class="img-fluid rounded-circle">
                                                                </a>
                                                            </div>
                                                            <div class="activity-content timeline-group-blk">
                                                                <div class="timeline-group flex-shrink-0">
                                                                    <h4>{{appointment.date_appointment_format | timeAgo}}</h4>
                                                                    <span class="time">{{appointment.format_hour_start}}</span>
                                                                </div>
                                                                <div class="comman-activitys flex-grow-1">
                                                                    <h3>{{appointment.patient.fullname}} <span>Importe: {{appointment.amount}} €</span></h3>
                                                                    <p *ngIf="appointment.attention_manage">{{appointment.attention_manage.description}}</p>
                                                                    <ng-container *ngIf="!appointment.attention_manage">
                                                                        <button [ngClass]="{'status-green' : appointment.status == 2, 'status-pink' : appointment.status == 1}" class="custom-badge status-pink">{{ appointment.status == 1 ? 'PENDING' : 'TREATED' }}</button>
                                                                    </ng-container>
                                                                    
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ng-container>

                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </ng-container>
                                    
                                    <ng-container *ngIf="tab_selected == 2">
                                        <div class="setting-form-blk">
                                            <form>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-heading">
                                                            <h4>Account Setting</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">  
                                                        <div class="form-group local-forms">
                                                            <label >Name </label>
                                                            <input class="form-control" type="text" [(ngModel)]="doctor_name" name="doctor_name" value="{{ doctor_name }}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">  
                                                        <div class="form-group local-forms">
                                                            <label >Surname </label>
                                                            <input class="form-control" type="text" [(ngModel)]="doctor_surname" name="doctor_surname" value="{{ doctor_surname }}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">  
                                                        <div class="form-group local-forms">
                                                            <label >Mobile </label>
                                                            <input class="form-control" type="text" [(ngModel)]="doctor_mobile" name="doctor_mobile" value="{{ doctor_mobile }}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">
                                                        <div class="form-group local-forms">
                                                            <label >Email/User </label>
                                                            <input class="form-control" type="email" [(ngModel)]="doctor_email" name="doctor_email" value="{{ doctor_email }}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">
                                                        <div class="form-group local-forms">
                                                            <label>Address  <span class="login-danger">*</span></label>
                                                            <textarea class="form-control" rows="3" cols="30" [(ngModel)]="doctor_address" name="doctor_address">{{ doctor_address}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-heading">
                                                        <h4>Security Setting</h4>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >Current Password </label>
                                                        <input class="form-control" type="password" [(ngModel)]="doctor_password" name="doctor_password" value="1245abcd!">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >New Password </label>
                                                        <input class="form-control" type="password" placeholder="" [(ngModel)]="doctor_new_password" name="doctor_new_password">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >Confirm Password </label>
                                                        <input class="form-control" type="password" placeholder="" [(ngModel)]="doctor_confirm_new_password" name="doctor_confirm_new_password">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 my-4" *ngIf="error_message != ''">
                                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                                        <strong>Error!</strong> {{ error_message }}
                                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                                            <span aria-hidden="true"> </span>
                                                        </button>
                                                      </div>
                                                </div>
                                                <div class="col-md-12 my-4" *ngIf="success_message != ''">
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <strong>Bien!</strong> {{ success_message }}
                                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                                            <span aria-hidden="true"> </span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="doctor-submit">
                                                        <button type="submit" (click)="updateSettings()" class="btn btn-primary submit-form me-2">Update</button>
                                                    </div>
                                                </div>
                                                
                                                </form>
                                            </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title ">Pending Appointment</h4>
                                </div>
                                <div class="card-body p-0 table-dash">
                                    <div class="table-responsive">
                                        <table matSort class="table mb-0 border-0 datatable custom-table patient-profile-table">
                                            <thead>
                                                <tr>
                                                    <th mat-sort-header="checkbox">
                                                        <div class="form-check check-tables">
                                                            <input class="form-check-input" type="checkbox" value="something">
                                                        </div>
                                                    </th>
                                                    <th mat-sort-header="date">Date</th>
                                                    <th mat-sort-header="patient">Patient</th>
                                                    <th mat-sort-header="treatment">Status Pay</th>
                                                    <th mat-sort-header="paid">Paid</th>
                                                    <th mat-sort-header="charges">Total Charges</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of appointments_treated">
                                                    <td>
                                                        <div class="form-check check-tables">
                                                            <input class="form-check-input" type="checkbox" value="something">
                                                        </div>
                                                    </td>
                                                    <td >{{data.date_appointment_format}} {{data.format_hour_start}} </td>
                                                    <td >{{data.patient.fullname}}</td>
                                                    <td><button [ngClass]="{'status-pink' : data.status_pay == 2, 'status-green' : data.status_pay == 1}" class="custom-badge">{{ data.status == 1 ? 'PAID' : 'PENDING' }}</button></td>
                                                    <td>{{data.total_paid}} €</td>
                                                    <td>{{data.amount}} €</td>
                                                    <td class="text-end">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" [routerLink]="[ '/appointments/list-appointments/management', data.id ]" href="#"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                            </div>
                                                        </div> 
                                                    </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 