<div class="main-wrapper" id="home">

    <app-home-header></app-home-header>

    <div class="hero-section auto-height text-center">
        <div class="container">
            <div class="hero-wrap">
                <div class="content content-policy text-start">
                    <h1>Términos y condiciones</h1>
                    <p>
                        El presente aviso legal regula los términos y condiciones de uso así como la política de
                        privacidad de la página web
                        www.weloveracket.com, de la que es responsable Jorge Zancada, DNI. 76261665J,
                        (en lo sucesivo WeLoveRacket)
                        con dirección en C/ Rector José Vida Soria Nº8 A2, 4ºA, Motril, Granada, 18613
                        Teléfono: +34 640 963 295. Correo electrónico support@weloveracket.com
                    </p>
                    <p>
                        La utilización de la página web le atribuye la condición de usuario de la misma (en adelante,
                        "el Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las
                        disposiciones incluidas en los presentes Términos y Condiciones, publicados, por WeLoveRacket en
                        el
                        momento en el que el Usuario acceda a la web. En consecuencia, se recomienda al Usuario la
                        lectura periódica de las mismas, ya que pueden estar sujetas a modificaciones para adaptarlas a
                        novedades legislativas y jurisprudenciales, circunstancia de la que se informaría previamente.
                    </p>
                    <p>
                        El Usuario se compromete a utilizar el Portal, los Servicios, los Contenidos y estas Condiciones
                        Generales de conformidad con la ley, la moral, las buenas costumbres y el orden público. Se
                        obliga a usar el Portal, los Servicios y los Contenidos de forma diligente, correcta y lícita.
                    </p>


                    <h3>1. Descripción del servicio</h3>
                    <p>
                        WeLoveRacket es una aplicación web dedicada a los clubs de deporte y jugadores que ofrece un
                        espacio en el cual:
                    </p>
                    <p>
                        <b>Los clubes</b> pueden gestionar sus pistas, realizar reservas, administrar monitores y sus
                        clases impartidas,
                        crear ligas y torneos y la administración de ellos
                    </p>
                    <p>
                        <b>Los jugadores</b> podrán registrarse y una vez registrados tendrán derecho a apuntarse en sus
                        clubs y reservar
                        pistas directamente ellos mismo a través de WeLoveRacket sin gasto alguno de gestión.
                    </p>



                    <h3>2. Edad mínima para ser usuario</h3>
                    <p>
                        La utilización de los servicios ofrecidos en WeLoveRacket requiere que el Usuario haya cumplido,
                        al
                        menos, los 14 (catorce) años de edad.

                        Bajo ningún concepto y bajo ninguna excepción estará permitida la participación en cualquiera de
                        los servicios ofrecidos por WeLoveRacket a los menores de 14 años, ni siquiera utilizando la
                        cuenta de
                        un Usuario registrado correctamente (mayor de 14 años), salvo que cuenten con autorización
                        expresa de sus padres o tutores, la cual deberá ser remitida, junto con una fotocopia de sus
                        DNI.
                    </p>

                    <h3>3. Carácter gratuito de los servicios prestados en la web para jugadores</h3>
                    <p>
                        Los servicios que WeLoveRacket pone a disposición de los Jugadores tienen carácter gratuito, no
                        existiendo
                        ningún servicio Premium que requiera un coste para los Jugadores.
                    </p>

                    <h3>4. Carácter premium de los servicios prestados en la web para clubes</h3>
                    <p>
                        Los servicios que WeLoveRacket pone a disposición de los Clubes tendrán un coste aún por
                        definir. Sus dos
                        tipos de suscripciones (Basic y Premium) tendrán un coste de XX€ de la primera y YY€ de la
                        segunda que se
                        les cobrará mensualmente, una vez se haya subscrito, cuando se le acabe el periodo de pruebas.
                        Toda subscripción
                        no tiene permanencia y podrá ser cancelada en el momento que se desee.
                    </p>

                    <h3>5. Registro</h3>
                    <p>
                        Para poder participar en la comunidad de WeLoveRacket como <b>jugador</b> es necesario el
                        registro como usuario de la
                        página, para lo que solicitaremos nombre y apellidos, correo electrónico, teléfono, contraseña.
                        Posteriormente podrás incluir más datos en opción de perfil, donde
                        podrás incluir voluntariamente más información.
                    </p>
                    <p>
                        Para poder participar en la comunidad de WeLoveRacket como <b>club</b> es necesario el registro
                        como usuario de la
                        página, para lo que solicitaremos nombre del club, correo electrónico, teléfono, contraseña.
                        Posteriormente podrás incluir más datos en opción de perfil, donde
                        podrás incluir voluntariamente más información.
                    </p>
                    <p>
                        El Usuario es el único responsable de la información contenida en su perfil personal y de la
                        veracidad de la misma.
                    </p>
                    <p>
                        WebLoveRacket no puede controlar de manera exhaustiva dicha información. Sin embargo, si
                        WebLoveRacket tuviera conocimiento de que el Usuario está infringiendo la legalidad vigente
                        mediante
                        por ejemplo usurpación de identidad, procederá de inmediato a cancelar su cuenta.
                    </p>

                    <h3>6. Uso de los servicios ofrecidos por WeLoveRacket</h3>
                    <p>
                        El Usuario se compromete a utilizar los servicios ofrecidos por WeLoveRacket de conformidad con
                        la
                        legislación vigente, las presentes Condiciones Generales, las Condiciones Particulares que se
                        pudieran concretar, en su caso, para ciertos servicios y demás avisos, e instrucciones puestos
                        en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el
                        orden público.
                    </p>
                    <p>
                        El Usuario es el único responsable de la información contenida en su perfil personal, así como
                        de la información personal proporcionada a través de los diversos medios de comunicación con
                        otros usuarios que se proporcionan en la web, debiendo ser consciente de la posibilidad de
                        visionado de los mismos por parte de tercero.
                    </p>
                    <p>
                        El Usuario se abstendrá de utilizar cualquiera de los servicios ofrecidos por WeLoveRacket con
                        fines
                        ilícitos, o que perjudiquen los derechos e intereses del resto de Usuarios, de terceros, o de
                        WeLoveRacket como responsable de weloveracket.com.
                    </p>
                    <p>
                        El usuario será el único responsable de cualquier acto ilícito o incluido en los anteriores
                        casos mencionados.
                    </p>


                    <h3>7.Política de privacidad</h3>
                    <p>
                        Tenemos el máximo interés en proteger los datos de carácter personal de los Usuarios y le
                        informamos a través de la presente política de privacidad acerca del tratamiento que hacemos de
                        los mismos.
                    </p>
                    <p>
                        WeLoveRacket se reserva el derecho a modificar la presente política de privacidad para adecuarla
                        a las
                        novedades legales o jurisprudenciales. En dichos supuestos se anunciarán en esta página los
                        cambios introducidos con razonable antelación a su puesta en práctica. La utilización de
                        nuestros servicios una vez comunicado este cambio implicará la aceptación de los mismos.
                    </p>
                    <p>
                        LEGISLACIÓN APLICABLE
                    </p>
                    <p>
                        WeLoveRacket cumple en el tratamiento de los datos de carácter personal de sus usuarios con la
                        legislación vigente en España y en la Unión Europea, en particular, con la Ley Orgánica de
                        Protección de Datos y su normativa de desarrollo. Para ello adopta las medidas técnicas y
                        organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y
                        robo de los datos personales facilitados, habida cuenta del estado de la tecnología, la
                        naturaleza de los datos y los riesgos a los que están expuestos.
                    </p>
                    <p>
                        SEGURIDAD
                    </p>
                    <p>
                        WeLoveRacket ha adoptado los niveles de seguridad de protección de los datos personales exigidos
                        por
                        el Reglamento de desarrollo de la Ley Orgánica 15/1999, de protección de datos de carácter
                        personal (Real Decreto 1720/2007). Además, procura instalar aquellos otros medios y medidas
                        técnicas adicionales para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de
                        los datos personales facilitados.
                    </p>
                    <p>
                        En el proceso de registro como Usuario, deberá elegir una contraseña. Como Usuario es
                        responsable de mantener la confidencialidad de esta contraseña, así como de todas las
                        actividades que ocurran en la sesión iniciada con su nombre de usuario y contraseña. El Usuario
                        se compromete a notificar a WeLoveRacket a la mayor brevedad el uso no autorizado de su nombre
                        de
                        usuario y contraseña o cualquier otro fallo en la seguridad. WeLoveRacket no será responsable
                        por los
                        daños o pérdidas que se pudieran originar debido al no cumplimiento de esta obligación por su
                        parte.
                    </p>
                    <p>
                        RECOGIDA DE DATOS
                    </p>
                    <p>
                        Los datos suministrados serán incorporados a un fichero de datos de carácter personal del que es
                        responsable Jorge Zancada Moreno y que se encuentra debidamente registrado ante la Agencia
                        Española de Protección de Datos. La comunicación de los datos personales supone la aceptación
                        expresa del Usuario a su inclusión en el fichero automatizado.
                    </p>
                    <p>
                        WeLoveRacket utilizará sus datos personales con la finalidad de posibilitar su participación en
                        la red
                        social y enviarle comunicaciones relacionadas con la prestación, mejora y actualización de
                        servicios.
                    </p>
                    <p>
                        WeLoveRacket podrá solicitar con caracter opcional, acceso al listado de contactos del usuario
                        con el
                        fin de conectar dentro de la plataforma, o unirse a los eventos deportivos.
                    </p>

                    <p>
                        WeLoveRacket no cederá a terceros los datos de carácter personal que nos proporcione, excepto
                        cuando
                        tal cesión haya sido consentida expresamente por usted.
                    </p>
                    <p>
                        Para ejercer los derechos de acceso, rectificación, oposición o cancelación, puede dirigirse a
                        Jorge Zancada Moreno, C/ Rector José Vida Soria Nº8 A2, 4ºA Motril, Granada, o dirigir un correo
                        electrónico a la dirección support@weloveracket.com
                    </p>

                    <p>
                        COOKIES
                    </p>
                    <p>
                        WeLoveRacket puede utilizar cookies cuando un usuario navega por sus sitios y páginas web. Las
                        cookies
                        que se puedan utilizar en la web se asocian únicamente con el navegador de un ordenador
                        determinado (un usuario anónimo), y no proporcionan por sí mismas ningún dato personal del
                        usuario. Las cookies sirven sólo para fines exclusivamente internos, como son las estadísticas
                        de acceso a la web. Las cookies utilizadas no pueden leer los archivos cookies creados por otros
                        proveedores o sitios web. El Usuario tiene la posibilidad de configurar su navegador para ser
                        avisado en pantalla de la recepción de cookies y para impedir la instalación de cookies en su
                        disco duro.
                    </p>

                    <h3>8. Contenidos facilitados por los Usuarios.</h3>
                    <p>
                        El Usuario podrá manifestar opiniones o aportar contenidos a través de cualquiera de los medios
                        puestos a su disposición por WeLoveRacket al objeto de que otros Usuarios o visitantes de
                        WeLoveRacket
                        puedan acceder y utilizar los mismos. Estos contenidos pueden tratarse de imágenes, textos,
                        opiniones, fotografías entre otros.
                    </p>
                    <p>
                        El Usuario será el único responsable de los contenidos que facilite a WeLoveRacket y/o transmita
                        a
                        otros Usuarios. En este sentido, el Usuario garantiza ser titular de los derechos de propiedad
                        intelectual e industrial necesarios para poder publicar y poner a disposición del resto de
                        Usuarios y visitantes los contenidos facilitados a WeLoveRacket. Asimismo, el Usuario garantiza
                        que
                        tiene el derecho a conceder y de hecho concede una licencia a título gratuito de forma
                        irrevocable, por todo el tiempo permitido en la Ley, no exclusiva, mundial, libre de cargas,
                        para usar copiar, interpretar, mostrar, distribuir el contenido facilitado a WeLoveRacket a
                        través de
                        weloveracket.com y a realizar obras derivadas, o a incorporar el contenido en otras obras, así
                        como
                        para conceder y autorizar licencias sobre todo lo anterior.
                    </p>
                    <p>
                        En particular, y a título meramente indicativo y no exhaustivo, el Usuario se compromete a no
                        transmitir, difundir o poner a disposición de terceros contenidos que:
                    </p>
                    <p>
                        a) de cualquier forma sean contrarios, menosprecien o atenten contra los derechos fundamentales
                        y las libertades públicas reconocidas constitucionalmente, en los tratados internacionales y en
                        el resto de la legislación vigente
                    </p>
                    <p>
                        b) induzcan, inciten o promuevan actuaciones delictivas, denigratorias, difamatorias,
                        infamantes, violentas o, en general, contrarias a la ley, a la moral y las buenas costumbres
                        generalmente aceptadas o al orden público.
                    </p>
                    <p>
                        c) induzcan, inciten o promuevan actuaciones, actitudes o pensamientos discriminatorios por
                        razón de sexo, raza, religión, creencias, edad o condición.
                    </p>
                    <p>
                        d) incorporen, pongan a disposición o permitan acceder a productos, elementos, mensajes y/o
                        servicios delictivos, violentos, ofensivos, nocivos, degradantes o, en general, contrarios a la
                        ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público.
                    </p>
                    <p>
                        e) induzcan o puedan inducir a terceros un estado inaceptable de ansiedad o temor.
                    </p>
                    <p>
                        f) se encuentren protegidos por cualesquiera derechos de propiedad intelectual o industrial
                        pertenecientes a terceros, sin que el Usuario haya obtenido previamente de sus titulares la
                        autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar.
                    </p>
                    <p>
                        g) sean contrarios al derecho al honor, a la intimidad personal y familiar o a la propia imagen
                        de las personas.
                    </p>
                    <p>
                        h) infrinjan la normativa dispuesta relativa al secreto de las comunicaciones.
                    </p>
                    <p>
                        i) sean relativos a la publicidad de sitios que sean competencia de WeLoveRacket o sus
                        anunciantes.
                    </p>
                    <p>
                        j) se traten de publicidad ilícita, engañosa o desleal.
                    </p>
                    <p>
                        k) incorporen virus u otros elementos que puedan dañar o impedir el normal funcionamiento de la
                        red, del sistema, o de equipos informáticos de WeLoveRacket, de terceros, o de otros Usuarios.
                    </p>
                    <p>
                        l) provoque por sus características (tales como formato, extensión, etc.) dificultades en el
                        normal funcionamiento de los servicios; WeLoveRacket se reserva el derecho de retirar de
                        WeLoveRacket todos
                        aquellos contenidos que no sean acordes con las presentes Condiciones Generales y/o con la
                        legalidad vigente. En ningún caso WeLoveRacket estará obligada a justificar ante el Usuario la
                        retirada de contenidos de WeLoveRacket.
                    </p>
                    <p>
                        El Usuario deberá abstenerse de acceder a los contenidos empleando para ello programas, medios o
                        procedimientos distintos de los que, según los casos, se hayan puesto a su disposición con este
                        fin.
                    </p>
                    <p>
                        WeLoveRacket en ningún caso se hace responsable de los contenidos u opiniones manifestadas por
                        un
                        usuario en www.weloveracket.com, si bien se compromete a eliminar comentarios injuriosos,
                        difamatorios
                        u ofensivos una vez tenga conocimiento de la existencia de los mismos.
                    </p>


                    <h3>9. Propiedad Intelectual e Industrial.</h3>
                    <p>
                        Todas las marcas, nombres comerciales, logotipos, signos distintivos de cualquier clase que
                        aparecen en WeLoveRacket son propiedad de WeLoveRacket o de terceros, sin que pueda entenderse
                        que el uso y
                        acceso a WeLoveRacket y la utilización de sus servicios atribuya al Usuario derecho alguno sobre
                        las
                        citadas marcas, nombres comerciales, logotipos y signos distintivos.
                    </p>
                    <p>
                        Asimismo, los contenidos que sean propiedad intelectual de WeLoveRacket o de terceros, no podrán
                        entenderse cedidos al Usuario, en virtud de lo establecido en estas Condiciones Generales,
                        ninguno de los derechos de explotación que existen o puedan existir sobre dichos contenidos más
                        allá de lo estrictamente necesario para el correcto uso de los servicios de WeLoveRacket. Los
                        únicos
                        derechos de propiedad intelectual que se le conceden al Usuario son los inherentes al uso de los
                        servicios propios de WeLoveRacket, quedando prohibida en todo caso la utilización comercial.
                    </p>


                    <h3>10.Exclusión de garantías y de responsabilidad.</h3>
                    <p>
                        9.1. Exclusión de garantías y de responsabilidad por el funcionamiento de WeLoveRacket y sus
                        servicios.
                    </p>
                    <p>
                        WeLoveRacket no garantiza la disponibilidad y continuidad del funcionamiento de WeLoveRacket y
                        de sus
                        servicios. WeLoveRacket procurará advertir con suficiente antelación de las interrupciones que
                        pudieran suceder en el funcionamiento de WeLoveRacket y de sus servicios, siempre que ello sea
                        posible. WeLoveRacket tampoco garantiza la utilidad de WeLoveRacket y de sus servicios para la
                        realización
                        de ninguna actividad en concreto, ni su infalibilidad y, en particular, aunque no de modo
                        exclusivo, que los Usuarios puedan efectivamente utilizar WeLoveRacket y sus servicios.
                    </p>
                    <p>
                        WeLoveRacket excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier
                        responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de
                        disponibilidad o de continuidad del funcionamiento de WeLoveRacket y de sus servicios, o la
                        defraudación de la utilidad que los Usuarios hubieren podido atribuir a WeLoveRacket y sus
                        servicios,
                        a la fiabilidad de WeLoveRacket y de los servicios, y en particular, aunque no de modo
                        exclusivo, a
                        los fallos en el acceso a las distintas páginas web que configuren WeLoveRacket.
                    </p>
                    <p>
                        9.2. Exclusión de garantías y de responsabilidad por el funcionamiento del software, en relación
                        a los contenidos, posibilidad de virus y eficacia de las medidas de seguridad.
                    </p>
                    <p>
                        WeLoveRacket no garantiza:
                    </p>
                    <p>
                        a) La ausencia de errores o defectos en el software y en los contenidos ofrecidos en
                        WeLoveRacket.
                    </p>
                    <p>
                        b) La ausencia de virus y/o cualquier otro tipo de componente dañino tanto en WeLoveRacket como
                        en los
                        servidores encargados de su mantenimiento. c) La total eficacia sobre las medidas de seguridad
                        adoptadas en WeLoveRacket.
                    </p>
                    <p>
                        WeLoveRacket excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier
                        responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a errores del
                        software, o en los contenidos, o a la presencia de virus que puedan producir alteraciones en el
                        sistema informático, documentos electrónicos o ficheros de los Usuarios.
                    </p>
                    <p>
                        WeLoveRacket no garantiza la licitud, fiabilidad y utilidad de los contenidos. WeLoveRacket
                        excluye, con
                        toda la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los
                        daños y perjuicios de toda naturaleza que puedan deberse a la transmisión, difusión,
                        almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos, y en
                        particular, aunque no de modo exclusivo, por los daños y perjuicios que puedan deberse a:
                    </p>
                    <p>
                        a) La falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los
                        contenidos. b) La inadecuación para cualquier clase de propósito y la defraudación de las
                        expectativas generadas por los contenidos. c) El incumplimiento, retraso en el cumplimiento,
                        cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas por
                        terceros y contratos realizados con terceros a través de o con motivo del acceso a los
                        contenidos. d) los vicios y defectos de toda clase de los contenidos transmitidos, difundidos,
                        almacenados, puestos a disposición o de otra forma transmitidos o puestos a disposición,
                        recibidos, obtenidos o a los que se haya accedido a través de WeLoveRacket o de los servicios.
                        9.3.
                        Exclusión de garantías y de responsabilidad por los servicios prestados por terceros a través de
                        WeLoveRacket.
                    </p>
                    <p>
                        WeLoveRacket no controla ni garantiza la ausencia de virus ni de otros elementos en los
                        servicios
                        prestados por terceros a través de WeLoveRacket que puedan producir alteraciones en el sistema
                        informático del Usuario.
                    </p>
                    <p>
                        WeLoveRacket excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que
                        puedan deberse a la presencia de virus o a la presencia de otros elementos lesivos en los
                        servicios prestados por terceros a través de WeLoveRacket que puedan producir alteraciones en el
                        sistema informático de los Usuarios.
                    </p>
                    <p>
                        WeLoveRacket no garantiza la licitud, fiabilidad y utilidad de los servicios prestados por
                        terceros a
                        través WeLoveRacket. WeLoveRacket excluye cualquier responsabilidad por los daños y perjuicios
                        de toda
                        naturaleza que puedan deberse a los servicios prestados por terceros a través WeLoveRacket.
                    </p>
                    <p>
                        9.4. Exclusión de garantías y de responsabilidad por la utilización de WeLoveRacket, de los
                        servicios
                        y de los contenidos por los Usuarios.
                    </p>
                    <p>
                        WeLoveRacket no garantiza que los Usuarios utilicen los servicios y contenidos de WeLoveRacket
                        de
                        conformidad con las presentes Condiciones Generales. WeLoveRacket tampoco garantiza que la
                        veracidad
                        de los datos que los Usuarios proporcionan sobre sí mismos en su perfil.
                    </p>
                    <p>
                        WeLoveRacket excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que
                        pudieran deberse a la utilización de los servicios y de los contenidos por parte de los Usuarios
                        que puedan deberse a la falta de veracidad, vigencia, o autenticidad de la información que los
                        Usuarios proporcionan a WeLoveRacket, en particular, aunque no de forma exclusiva, por los daños
                        y
                        perjuicios de toda naturaleza que puedan deberse a la suplantación de la personalidad de un
                        tercero efectuada por un Usuario en la utilización de los servicios prestados a través de
                        WeLoveRacket
                    </p>



                    <h3>11. Denuncia ante WeLoveRacket</h3>
                    <p>
                        En el caso de que cualquier Usuario, visitante, o un tercero considere que existen hechos o
                        circunstancias que revelen el carácter ilícito de cualquier contenido en WeLoveRacket o en su
                        utilización, deberá ponerse en contacto con WeLoveRacket a través de support@weloveracket.com o bien a
                        través de los datos de contacto indicados en WeLoveRacket y en las presentes Condiciones Generales,
                        indicando siempre:
                    </p>
                    <p>
                        a) los datos personales del reclamante (nombre, dirección, número de teléfono y dirección de
                        correo electrónico)
                    </p>
                    <p>
                        b) la supuesta actividad ilícita llevada a cabo en WeLoveRacket y su motivación que revelen dicho
                        carácter ilícito.
                    </p>



                    <h3>12. Retirada y suspensión de los servicios</h3>
                    <p>
                        WeLoveRacket podrá retirar o suspender en cualquier momento previo aviso con un mes de antelación la
                        prestación de servicios. Igualmente y sin previo aviso se podrá proceder a cancelar la cuenta,
                        de aquellos Usuarios que incumplan lo establecido en las presentes Condiciones Generales previa
                        devolución de su saldo pendiente.
                    </p>

                    <h3>13. Duración y terminación</h3>
                    <p>
                        La prestación de los servicios que WeLoveRacket proporciona a través de WeLoveRacket tiene, en principio,
                        una duración indefinida. No obstante, WeLoveRacket está autorizada para dar por terminada o suspender
                        la prestación de sus servicios en cualquier momento, sin perjuicio de lo que se hubiere
                        dispuesto al respecto en las correspondientes Condiciones Particulares. En cualquier caso, si
                        fuera posible, WeLoveRacket advertirá previamente la terminación o la suspensión de cualquier servicio
                        o de la totalidad de los mismos.
                    </p>


                    <h3>14. Legislación aplicable</h3>
                    <p>
                        Las presentes Condiciones Generales se rigen por la legislación española. La interpretación y
                        resolución de cualquier conflicto que se pueda derivar de la participación del Usuario en los
                        servicios de WeLoveRacket estará sujeta a los Juzgados y Tribunales españoles de Madrid Capital.
                    </p>


                    <h3>&nbsp;</h3>
                    <p>&nbsp;</p>


                </div>

            </div>
        </div>
    </div>

</div>