<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.staffList">Staffs </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Staffs</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Staffs Details</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >First Name <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Surname <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="surname" name="surname" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Mobile <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="mobile" name="mobile" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Email <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="email" name="email" type="email"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Password <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="password" name="password" type="password"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Confirm Password <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="confirm_password" name="confirm_password" type="password"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Rol <span class="login-danger">*</span></label>
                                        
                                            <mat-select [(ngModel)]="rol" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select  Rol">
                                                <mat-option *ngFor="let data of rolsAdded" [value]="data.id">
                                                {{data.name}}
                                                </mat-option>
                                            </mat-select>
                                    
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Gender<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [value]="1" [(ngModel)]="gender" name="gender"  class="form-check-input">Male
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [value]="2" [(ngModel)]="gender" name="gender"  class="form-check-input">Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                
                               
                                
                                
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Avatar <span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file"  (change)="loadFile($event)" class="hide-input">
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="" *ngIf="image_preview">
                                    <img [src]="image_preview" alt="" width="150px" height="150px">
                                </div>
                               <!--  <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Status <span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input">Active
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input">In Active
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">SAVE</button>
                                        <button type="button" [routerLink]="['/staffs/list-staff']" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-md-12 my-4" *ngIf="error_message != ''">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                        <strong>Error!</strong> {{ error_message }}
                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                        <ul *ngIf="message_errors.length > 0">
                                            <li *ngFor="let error of message_errors">{{ error }}</li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="col-md-12 my-4" *ngIf="success_message != ''">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Bien!</strong> El rol ha sido actualizado correctamente.
                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 


