.text-question{
    color: #2e37a4;
}

.total-votes{
    color: black;
}

.votes{
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 5px;
}

.vote_name{
    color: rgb(6, 180, 192);
    font-size: 20px;
}
