<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="[ '/meeting/list/edit', this.urbanisation_id ]">Urbanización </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Junta General</li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        
        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="[ '/meeting/edit', meeting_id]">{{'club_translations.tabs.general_data' | translate }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="[ '/meeting/assistants' ]">Asistentes</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-12">
            
                <div class="card card-table show-entire">
                    <div class="card-body">
                    
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Listado propietarios</h3>
                                        <div class="doctor-search-blk">
                                             <div class="top-nav-search table-search-blk">
                                                    <input  class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                    <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                             
                                            <div class="col">
                                              <div class="top-nav-search table-search-blk">
                                                
                                                    <mat-select [(ngModel)]="building_id" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Edificio" (ngModelChange)="searchData(searchDataValue)">
                                                        <mat-option *ngFor="let data of building" [value]="data.building">
                                                        {{data.building}}
                                                        </mat-option>
                                                    </mat-select>
                                              
                                          </div>
                                            <div class="add-group">
                                                <a href="javascript:;" (click)="refresh()" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="name">Nombre</th>
                                        <th mat-sort-header="building">Bloque</th>
                                        <th mat-sort-header="floor">Piso</th>
                                        <th mat-sort-header="assist">Asiste</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of ownersList">
                                        <td>{{data.name}}</td>
                                        <td>{{data.building }}</td>
                                        <td>{{data.floor }} {{ data.letter }}</td>
                                        <td *ngIf="data.assistId != null">
                                            <div class="dropdown action-label">
                                                <a class="btn btn-sm btn-success custom-badge dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                                  ASISTE
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end status-staff">
                                                    <a class="dropdown-item cursor-pointer" (click)="notAssistOwner(data.id)">{{'commun_translations.cancel' | translate }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="data.assistId == null">
                                            <div class="dropdown action-label">
                                                <a class="status-red custom-badge  dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                                    NO ASISTE
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end status-staff">
                                                    <a class="dropdown-item cursor-pointer" (click)="assistOwner(data.id)">Asiste</a>
                                                </div>
                                            </div>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                  <div class="dataTables_info">
                                    Showing {{ serialNumberArray[0] }} to
                                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                    {{ totalData }} entries
                                  </div>
                                </div>
                
                                <div class="col-sm-12 col-md-7">
                                  <div class="pagination_section">
                                    <ul class="pagination">
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled: currentPage === 1
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('previous')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          tabindex="-1"
                                          >Previous</a
                                        >
                                      </li>
                
                                      <ng-container
                                        *ngFor="let item of pageNumberArray; let i = index"
                                      >
                                        <li
                                          class="page-item"
                                          [class.active]="item === currentPage"
                                          [ngClass]="
                                            (pageNumberArray[currentPage - 2] > item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6) ||
                                            (pageNumberArray[currentPage] < item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6 &&
                                              pageNumberArray.length !== item)
                                              ? 'hide-page-no'
                                              : 'show-page-no'
                                          "
                                        >
                                          <a
                                            (click)="moveToPage(item)"
                                            class="page-link"
                                            href="javascript:void(0);"
                                          >
                                            {{ item }}
                                          </a>
                                        </li>
                                        <li
                                          class="page-item"
                                          *ngIf="
                                            i === 0 &&
                                            pageNumberArray.length > 6 &&
                                            currentPage > 2
                                          "
                                          [hidden]="currentPage === 1"
                                          (click)="moveToPage(currentPage - 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                        <li
                                          *ngIf="
                                            i === pageNumberArray.length - 2 &&
                                            pageNumberArray.length > 6
                                          "
                                          [hidden]="
                                            currentPage >=
                                              pageNumberArray[pageNumberArray.length - 2] ||
                                            totalData <
                                              serialNumberArray[serialNumberArray.length - 1]
                                          "
                                          class="page-item"
                                          (click)="moveToPage(currentPage + 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                      </ng-container>
                
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled:
                                            currentPage ===
                                              pageNumberArray[pageNumberArray.length - 1] ||
                                              ownersList.length === 0
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('next')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          >Next
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>							
            </div>					
        </div>

    </div>


    </div>
</div>