.color_1{
    background-color: #d8dde2 !important;
}

.color_2{
    background-color: #efefef;
}

.bold{
    font-weight: bold;
    color: #0066ff;
}

.first-tr{
    border-style: none none solid none !important;
}

