<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook 
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="http://www.google.es" target="_blank" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>-->
  
        <!-- Twitter 
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>-->
  
        <!-- Google 
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>-->
  
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" target="_blank" 
          href="https://linkedin.com/in/jorge-zancada-moreno-b2219429" role="button"><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/jzm82dev" target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>

        <!-- Instagram --> 
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/nuevamarinacd/" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Apúntate a nuestra newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <form class="form-white mb-2"> 
                    <input  type="email" id="form5Example24" class="form-control text-center" placeholder="contact@padeltoos.net"/>
                    <label mdbLabel class="form-label" for="form5Example24">Email</label>
            
                </form>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
                Sign up
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-2">
        <!--<p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p> -->
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-2 mb-md-0">
            <h5>En la red</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.youtube.com/@cholo.maldonado" class="text-white link_footer">Partidos en directo</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
            <h5 class="text-uppercase">Clubs</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.facebook.com/nuevamarinamotril/" target="_blank" class="text-white link_footer">Nueva Marina</a> &nbsp;
                <a href="https://www.facebook.com/BoxPadelMotril/" target="_blank" class="text-white link_footer">Box</a>&nbsp;
                <a href="https://www.padelnest.com/club/BFXBH56C99" target="_blank" class="text-white link_footer">Padello</a>&nbsp;
                <a href="https://padelmotril.com/" target="_blank" target="_blank" class="text-white link_footer">Padel Center</a>&nbsp;
              </li>
              <!-- <li>
                <a href="https://www.facebook.com/BoxPadelMotril/" target="_blank" class="text-white link_footer">Box</a>
              </li>
              <li>
                <a href="https://www.padelnest.com/club/BFXBH56C99" target="_blank" class="text-white link_footer">Padello</a>
              </li>
              <li>
                <a href="https://padelmotril.com/" target="_blank" target="_blank" class="text-white link_footer">Padel Center</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
            <h5 class="text-uppercase">Dasbhoard</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="http://padeltools.net/login" class="text-white link_footer">Login</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
            <h5 class="text-uppercase">Contacto</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <p>contact@padeltools.com</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://padeltools.net/">padeltools.net</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->