<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="container-fluid px-0" >
      <div class="row">
        <!-- Login logo -->
        <div class="col-lg-6 login-wrap " >
          <div class="login-sec image-center" >
            <div class="log-img ">
              <img class="img-fluid text-center" src="assets/img/login-02.png" alt="Logo" />
            </div>
          </div>
        </div>
        <!-- /Login logo -->
  
        <!-- Login Content -->
        <div class="col-lg-6 login-wrap-bg">
          <div class="login-wrapper">
            <div class="loginbox">
              <div class="login-right">
                <div class="login-right-wrap">
                  <div class="account-logo">
                    <a [routerLink]="routes.adminDashboard"
                      ><img src="assets/img/login-logo.png" alt=""
                    /></a>
                  </div>
                  <h2>Restaurar contraseña</h2>
                  <!-- Form -->
                  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="passwordChanged == false && isValidToken == true">
                    
  
  
                    <div class="form-group">
                      <label>Nueva contraseña <span class="login-danger">*</span></label>
                      <input
                        class="form-control pass-input"
                        [type]="passwordClass ? 'text' : 'password'"
                        formControlName="password"
                        autocomplete="password"
                        [ngClass]="{
                          'is-invalid':
                            f['password'].touched && f['password'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['password'].touched && f['password'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['password'].errors &&
                            f['password'].errors['required']
                          "
                        >
                          Contraseña es obligatoria.
                        </div>
                      </div>
                      <span (click)="passwordFunc()" [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                        class="profile-views toggle-password"
                      ></span>
                    </div>
                    <div class="form-group">
                      <label
                        >Confirma Contraseña
                        <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control pass-input-confirm"
                        [type]="passwordClass ? 'text' : 'password'"
                        formControlName="confirmPassword"
                        autocomplete="confirmPassword"
                        [ngClass]="{
                          'is-invalid':
                            f['confirmPassword'].touched &&
                            f['confirmPassword'].invalid
                        }"
                      />
                      <div
                        *ngIf="
                          f['confirmPassword'].touched &&
                          f['confirmPassword'].invalid
                        "
                        class="invalid-password"
                      >
                        <div
                          *ngIf="
                            f['confirmPassword'].errors &&
                            f['confirmPassword'].errors['required']
                          "
                        >
                          Confirma Contraseña es obligatoria.
                        </div>
                      </div>
                      <div
                        *ngIf="isValidConfirmPassword"
                        class="invalid-password"
                      >
                        Contraseñas no coinciden
                      </div>
                      <span (click)="confirmPasswordFunc()" [ngClass] = "confirmPasswordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                        class="profile-views confirm-password"
                      ></span>
                    </div>
                  
                    <div class="form-group login-btn">
                      <button
                        [disabled]="form.invalid"
                        class="btn btn-primary btn-block"
                        type="submit"
                      >
                        Actualizar
                      </button>
                    </div>
                  </form>
                  <!-- /Form -->

                  <div  *ngIf="passwordChanged == true" class="next-sign">
                    <p class="account-subtitle">
                        Contraseña actualizada correctamente. Ir a 
                        <a [routerLink]="routes.login">Login</a>
                  </div>

                  <div  *ngIf="isValidToken == false" class="next-sign">
                    <p class="account-subtitle">
                        El token de cambio de contraseña ha expirado. Por favor, vuelve a seguir los pasos para cambiar la contraseña.   
                        <a [routerLink]="routes.forgotPassword">Cambiar contraseña</a>
                  </div>
  
                  <div class="next-sign" *ngIf="passwordChanged == false && isValidToken==true">
                    <p class="account-subtitle">
                      Tienes ya cuenta?
                      <a [routerLink]="routes.login">Login</a>
                    </p>
  
              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Login Content -->
      </div>
    </div>
  </div>
  <!-- /Main Wrapper -->
  