.color_1{
    background-color: #d8dde2;
}

.color_2{
    background-color: #d8dde2;
    color: black;
    border-color: #2E37A4;
}

.rivals_pending{
    color: rgb(171, 171, 171);
    font-style: italic;
}

.player_no_play{
    opacity: 0.54;
}

