

<div class="main-wrapper" id="home">

    <app-home-header></app-home-header>
    
        <!-- Start Banner -->
        <div class="hero-section auto-height text-center">
            <div class="container">
                <div class="hero-wrap">
                    <!-- Profile -->
                    <div class="card-box profile-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a href="javascript:void(0);"><img class="avatar img-club" [src]="image_preview" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="profile-basic">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="profile-info-left">
                                                    <h3 class="user-name m-t-0 mb-0">{{ name }}</h3>
                                                    <small class="text-muted hide-mobile">Urbanizacion</small>
                                                    <div class="staff-id hide-mobile">Presidente : {{ president }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <ul class="personal-info">

                                                    <li class="hide-mobile">
                                                        <span class="title">{{'club_translations.club_address.title' | translate }}:</span>
                                                        <span class="text">{{ address }} ({{ additional_address }})</span>
                                                    </li>
                                                   
                                                    <li class="hide-mobile">
                                                        <span class="title">{{'club_translations.club_address.form_city' | translate }}</span>
                                                        <span class="text">Motril, Granada </span>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        
                        
                        <div class="row my-4 hide-mobile">
                            <div class="col-md-12 text-start">
                                <div class="text-start description" [innerHTML]=description></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-tabs my-3">
                        <ul class="nav nav-tabs nav-tabs-bottom" *ngIf="tab_selected != 'booking' && tab_selected != 'leagues' && tab_selected != 'tournaments'">
                            <li class="nav-item"><a class="nav-link" href="#meets" [ngClass]="{'active': tab_selected == 'meets'}" (click)="openTab('meets')" data-bs-toggle="tab">Juntas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#rrhh" [ngClass]="{'active': tab_selected == 'rrhh'}" (click)="openTab('rrhh')" data-bs-toggle="tab">Propietarios</a></li>
                            <li class="nav-item"><a class="nav-link" href="#services" [ngClass]="{'active': tab_selected == 'services'}"  (click)="openTab('services')" data-bs-toggle="tab">Vocales </a></li>
                            <li class="nav-item"><a class="nav-link" href="#monitors" [ngClass]="{'active': tab_selected == 'monitors'}" data-bs-toggle="tab" (click)="openTab('monitors')">Actas de vocales</a></li>
                            <li class="nav-item"><a class="nav-link" href="#monitors" [ngClass]="{'active': tab_selected == 'monitors'}" data-bs-toggle="tab" (click)="openTab('monitors')">Gastos</a></li>
                        </ul>

                        <ul class="nav nav-tabs nav-tabs-bottom" *ngIf="tab_selected == 'booking' || tab_selected == 'leagues' || tab_selected == 'tournaments'">
                            <li class="nav-item"><a class="nav-link" href="#schedule" [routerLink]="[ '/club', hash_club, 'schedule' ]" data-bs-toggle="tab">Juntas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#rrhh" [routerLink]="[ '/club', hash_club, 'rrhh' ]" data-bs-toggle="tab">Propietarios</a></li>
                            <li class="nav-item"><a class="nav-link" href="#services" [routerLink]="[ '/club', hash_club, 'services' ]" data-bs-toggle="tab">{{'club_translations.tabs.services' | translate }} </a></li>
                            <li class="nav-item"><a class="nav-link" href="#monitors" data-bs-toggle="tab" [routerLink]="[ '/club', hash_club, 'monitors' ]">{{'monitors.monitors' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" [ngClass]="{'active': tab_selected == 'booking'}" href="#booking" [routerLink]="[ '/club/booking', major_sport_name, hash_club, today ]">{{'menu.books' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" [ngClass]="{'active': tab_selected == 'leagues'}" href="#leagues"  [routerLink]="[ '/club/leagues/all', hash_club ]">{{'leagues.leagues' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" [ngClass]="{'active': tab_selected == 'tournaments'}" href="#tournaments"  [routerLink]="[ '/club/tournaments/all', hash_club ]">{{'tournaments.tournaments' | translate }}</a></li>
                        </ul>
            
                        <div class="tab-content">
                            <div class="tab-pane show active" id="schedule" *ngIf="tab_selected == 'owners'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            
                                            <div class="experience-box">
                                                <div class="row center-elements" *ngFor="let day of schedule_hour_days; let i = index;">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <h5 class="card-title">{{ day.day_name }}</h5>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="col-md-6" *ngIf="day.closed">
                                                        <label class="margin-closed">{{'club_translations.schedule.closed' | translate }} </label>
                                                    </div>
                                                    <div class="col-md-6" *ngIf="!day.closed">
                                                    
                                                        
                                                        <div class="row" >
                                                            <div class="table-responsive">
                                                                <table class="table table-hover mb-0">
                                                                    <thead>
                                                                        <tr class="text-center">
                                                                            <th>{{'club_translations.schedule.opens_at' | translate }} </th>
                                                                            <th>{{'club_translations.schedule.closes_at' | translate }} </th>  
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let item of day.hours; let i = index">
                                                                            <td class="text-center">{{ item.opening_time }} h</td>
                                                                            <td class="text-center">{{ item.closing_time }} h</td>
                                                                            
                                                                        </tr>
                                                                        <tr *ngIf="day.hours.length == 0">
                                                                            <td colspan="3" class="text-center"> {{'club_translations.schedule.no_schedule_for' | translate }} {{ day.day_name }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        
                                                    </div>
                                                    <div><hr></div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                         
                          
                            
                        
                            <div class="tab-pane  show active" id="meets" *ngIf="tab_selected == 'meets'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <div class="experience-box">
                                                <div class="table-responsive">
                                                    <table class="table border-0 custom-table comman-table datatable mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-start">{{'monitors.name' | translate }}</th>
                                                                <th class="text-start hide-mobile">Fecha</th>
                                                                <th >Ver</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let data of meets_list">
                                                                <td class="text-start">{{data.name}} </td>
                                                                <td class="text-start hide-mobile">{{data.date | date: 'dd/MM/yyyy'}}</td>
                                                                    <td><a class="btn" [routerLink]="[ '/urbanisation/meeting-info', data.id ]" href="#"><img src="assets/img/icons/search-normal.svg" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                                                            </tr>
                                                            <tr *ngIf="meets_list.length == 0">
                                                                <td colspan="5">No hay juntas generales para la urbanización</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                        </div>
                    </div>
                    <!-- End Prfo-->
                </div>
            </div>
                   
                
        </div>
        <!-- End Banner -->
    
    
       
    
      
   
    
       
      
   
    
    