<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="[ '/leagues/list-league/edit/', league_id ]">{{'leagues.league' | translate }} </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{'leagues.category' | translate }} ({{ category_name }})</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item" *ngIf="league_id != null">
                  <a class="nav-link" [routerLink]="[ '/leagues/list-league/edit', league_id ]" >{{'leagues.league' | translate }}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="[ '/category/data', category_id, 1 ]">{{'leagues.tabs.general_data' | translate }}</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/category/data', category_id, 2 ]">{{ match_tab_player }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="[ '/category/journeys', category_id ]">{{'leagues.tabs.journeys' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/category/ranking', category_id ]">{{'leagues.tabs.ranking' | translate }}</a>
                </li> 
            </ul>
        </div>
        
        <div class="row" *ngIf="isLoaded">
          
          <div class="row">
            <div class="col-md-12" *ngIf="totalData == 0">
                <div class="card">
                    <div class="card-body">
                        <div class="activity">
                            <div class="activity-box">
                                <ul class="activity-list">
                                    <li>
                                        <div class="activity-content timeline-group-blk"> 
                                            <div class="comman-activitys flex-grow-1" *ngIf="total_couples > 0 && type_category != null">
                                              <h3>{{'leagues.journeys.journey_to_be_defined' | translate }}. <span> {{'leagues.journeys.no_calendar' | translate }}.</span></h3>
                                              <p>{{'leagues.journeys.create_calendar_text' | translate }}.</p>
                                            </div>  
                                            <div class="comman-activitys flex-grow-1" *ngIf="total_couples == 0 || type_category == null">
                                                <h3>{{'leagues.journeys.journey_to_be_defined' | translate }}. <span> {{'leagues.journeys.no_calendar_no_couples' | translate }}.</span></h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="col-12 d-flex align-items-center" *ngIf="total_couples > 0 && type_category != null && hasPermission('edit_league')">
                                  <div class="follow-btn-group">
                                      <button type="submit" class="btn btn-info message-btns" (click)="createCalendar()">{{'leagues.journeys.create_calendar' | translate }}</button>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-sm-12">

                    <div class="card-body" *ngIf="totalData > 0">
                    
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>{{'leagues.journeys.journeys' | translate }}</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                    <input  class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                    <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group">
                                                <a href="javascript:;" (click)="refresh()" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp add-group" *ngIf="can_edit == true">
                                  <a [routerLink]="routes.addCourt" routerLinkActive="router-link-active"  class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr >
                                        <th mat-sort-header="enumerate">#</th>
                                        <th mat-sort-header="name">{{'leagues.journeys.name' | translate }}</th>
                                        <th mat-sort-header="start_date">{{'leagues.journeys.date' | translate }}</th>
                                        <th mat-sort-header="status" >{{'leagues.journeys.status' | translate }} ({{'leagues.journeys.pending' | translate }})</th>
                                        <th ></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of journeysList; let i = index;">
                                        <td>{{i + 1}}</td>
                                        <td >{{data.name}}</td>
                                        <td>{{data.date}}</td>
                                        <td >
                                          <button [routerLink]="[ 'edit', category_id, data.id ]" href="#" [ngClass]="{'status-green' : data.matchs_pending == 0, 'status-yellow' : data.matchs_pending > 0}" class="custom-badge">{{ data.matchs_pending > 0 ? pending_text : finished_text }} ({{data.matchs_pending}})</button>
                                        </td>
                                        <td class="text-end" >
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item"  [routerLink]="[ 'edit', category_id, data.id ]" href="#"><i class="fa-solid fa-eye m-r-5"></i> {{'commun_translations.view' | translate }}/{{'commun_translations.edit' | translate }}</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-md-12 my-4" *ngIf="error_message != ''">
                              <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                  <strong>Error!</strong> {{ error_message }}
                                  <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                      <span aria-hidden="true"> </span>
                                  </button>
                                  
                                </div>
                          </div>

                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                  <div class="dataTables_info">
                                    Showing {{ serialNumberArray[0] }} to
                                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                    {{ totalData }} entries
                                  </div>
                                </div>
                
                                <div class="col-sm-12 col-md-7">
                                  <div class="pagination_section">
                                    <ul class="pagination">
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled: currentPage === 1
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('previous')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          tabindex="-1"
                                          >Previous</a
                                        >
                                      </li>
                
                                      <ng-container
                                        *ngFor="let item of pageNumberArray; let i = index"
                                      >
                                        <li
                                          class="page-item"
                                          [class.active]="item === currentPage"
                                          [ngClass]="
                                            (pageNumberArray[currentPage - 2] > item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6) ||
                                            (pageNumberArray[currentPage] < item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6 &&
                                              pageNumberArray.length !== item)
                                              ? 'hide-page-no'
                                              : 'show-page-no'
                                          "
                                        >
                                          <a
                                            (click)="moveToPage(item)"
                                            class="page-link"
                                            href="javascript:void(0);"
                                          >
                                            {{ item }}
                                          </a>
                                        </li>
                                        <li
                                          class="page-item"
                                          *ngIf="
                                            i === 0 &&
                                            pageNumberArray.length > 6 &&
                                            currentPage > 2
                                          "
                                          [hidden]="currentPage === 1"
                                          (click)="moveToPage(currentPage - 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                        <li
                                          *ngIf="
                                            i === pageNumberArray.length - 2 &&
                                            pageNumberArray.length > 6
                                          "
                                          [hidden]="
                                            currentPage >=
                                              pageNumberArray[pageNumberArray.length - 2] ||
                                            totalData <
                                              serialNumberArray[serialNumberArray.length - 1]
                                          "
                                          class="page-item"
                                          (click)="moveToPage(currentPage + 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                      </ng-container>
                
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled:
                                            currentPage ===
                                              pageNumberArray[pageNumberArray.length - 1] ||
                                              journeysList.length === 0
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('next')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          >Next
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>							
            </div>					
        </div>

    </div>
</div>