<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">{{'club_translations.dashboard' | translate }}</li>
                        <li class="breadcrumb-item "><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{'club_translations.club' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.club">{{'club_translations.tabs.general_data' | translate }}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="routes.description">{{'club_translations.tabs.description' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.clubSchedule">{{'club_translations.tabs.schedule' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.clubCourts">{{'club_translations.tabs.courts' | translate }}</a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="routes.clubServices">{{'club_translations.tabs.services' | translate }}</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.clubSocialLinks">{{'club_translations.tabs.social_links' | translate }}</a>
                </li>
            </ul>
        </div>


        <div class="row" *ngIf="isLoaded">
            <div class="col-md-12">
                 <div class="card">
                     <div class="card-header d-flex justify-content-between align-items-center">
                         <h5 class="card-title">{{'club_translations.services.title' | translate }}</h5>
                     </div>
                     <div class="card-body pt-0">
                        <form>
                            <div class="settings-form" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.pool' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="pool" class="check" [(ngModel)]="pool" name="pool">
                                                <label for="pool" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.gym' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="gym" class="check" [(ngModel)]="gym" name="gym">
                                                <label for="gym" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.playroon' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="playroom" class="check" [(ngModel)]="playroom" name="playroom">
                                                <label for="playroom" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.cafe' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="cafe" class="check" [(ngModel)]="cafe" name="cafe">
                                                <label for="cafe" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.restaurant' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="restaurant" class="check" [(ngModel)]="restaurant" name="restaurant">
                                                <label for="restaurant" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title">{{'club_translations.services.shop' | translate }}</h5>
                                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                                <input type="checkbox" id="shop" class="check" [(ngModel)]="shop" name="shop">
                                                <label for="shop" class="checktoggle">checkbox</label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">{{'club_translations.services.more_service' | translate }}</h5>
                                    </div>
                                    <form>
                                        <div class="row col-12">
                                            <div class="col-6">
                                                <div class="row settings-form">
                                                    <div class="col-9 ">  
                                                            <div class="form-group local-forms">
                                                                <label >{{'club_translations.services.name' | translate }}  <span class="login-danger">*</span></label>
                                                                <input  class="form-control" [(ngModel)]="name_service" name="name_service" type="text" placeholder="" >
                                                            </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <!-- <button class="btn btn-primary btn-sm" (click)="addService()">+</button>&nbsp;-->
                                                        <a (click)="addService()" href="javascript:void(0);" class="btn trash">
                                                            <i class="fa fa-plus me-1"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 settings-form">
                                                <div class="table-responsive">
                                                    <table class="table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'club_translations.services.more_service' | translate }}</th>
                                                                <th *ngIf="can_edit == true">{{'club_translations.services.action' | translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let item of new_services; let i = index;">
                                                                <tr class="align-items-center">
                                                                    <td>
                                                                        {{item.name}}
                                                                    </td>
                                                                    <td>
                                                                        <a *ngIf="can_edit == true" (click)="deleteService(i)" href="javascript:void(0);" class="btn trash trash-style">
                                                                        <i class="feather icon-trash-2 service"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>  
                                            
                                        </div>
                                    </form>
                                </div>


                                <div class="form-group mb-0 text-end my-4">
                                    <div class="settings-btns">
                                        <button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded" *ngIf="can_edit == true" (click)="save_services()">{{'commun_translations.save' | translate }}</button>
                                    </div>
                                </div>

                                <div class="col-md-12 my-4" *ngIf="error_message != ''">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                        <strong>{{'commun_translations.error' | translate }}</strong> {{ error_message }}
                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                        <ul *ngIf="message_errors.length > 0">
                                            <li *ngFor="let error of message_errors">{{ error }}</li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="col-md-12 my-4" *ngIf="success_message != ''">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{'commun_translations.success' | translate }}</strong> {{ success_message }}
                                        <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                
        </div>    
    </div>
</div>
