
.background-img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(212, 212, 219, 0.5), rgba(196, 196, 190, 0.5)),
                  url("../../../assets/img/background.jpg");
                  
}

.subtitle {
    font-size: 23px;
    color: #9ab2d6;
}
