.settings-form .trash{
     display: inline !important;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 52, 72, 0.5);;
    margin-bottom: 0;
}

.incomplete_category {
    background-color: #f0d79f;
}


.nav-link-disabled {
    background-color: gray !important;
    cursor: no-drop;
}