.text-question{
    color: #2e37a4;
}

.total-votes{
    color: black;
}

.votes{
    border: 1px solid gray;
    border-radius: 5px;
}

.vote_name{
    color: rgb(6, 180, 192) !important;
    font-size: 20px;
}

.counter-up{
    font-size: 27px !important;
}

.percent {
    font-size: 27px !important;
}


.smaller{
    font-size: 20px !important;
}

hr {
    height: 10px;
    background-color: blue;
  }

  