<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.staffList">{{'leagues.categories' | translate }} </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{'leagues.update_restults' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="[ '/category/data', category_id, 1 ]">{{'leagues.tabs.general_data' | translate }}</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/category/data', category_id, 2 ]">{{ match_tab_player  }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="[ '/category/journeys', category_id ]">{{'leagues.tabs.journeys' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/category/ranking', category_id ]">{{'leagues.tabs.ranking' | translate }}</a>
                </li> 
            </ul>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>{{'leagues.data' | translate }}</h4>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label >{{'leagues.name' | translate }}<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >{{'leagues.journeys.date' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" [(ngModel)]="date" name="date" type="text"  placeholder="" matInput [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="col-12" *ngIf="hasPermission('edit_league')">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary cancel-form" [routerLink]="[ '/category/journeys', category_id ]">{{'commun_translations.come_back' | translate }}</button>&nbsp;
                                    <button class="btn btn-primary submit-form me-2 my-4" (click)="saveData()">{{'commun_translations.save' | translate }} </button> &nbsp;
                                </div>
                            </div>
                            
                            <div class="col-md-12 my-4" *ngIf="error_message_data != ''">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                    <strong>{{'commun_translations.error' | translate }}</strong> {{ error_message_data }}
                                    <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                    <ul *ngIf="message_errors_data.length > 0">
                                        <li *ngFor="let error of message_errors_data">{{ error }}</li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="col-md-12 my-4" *ngIf="success_message_data != ''">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{'commun_translations.success' | translate }} </strong>{{ success_message_data }}
                                    <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>{{'leagues.journeys.matchs' | translate }}</h4>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-12 col-xl-12">
                                <table class="table mb-0 " >
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'leagues.journeys.match' | translate }}</th>
                                            <th class="text-center">{{'leagues.journeys.set_1' | translate }}</th>
                                            <th class="text-center">{{'leagues.journeys.set_2' | translate }}</th>
                                            <th class="text-center">{{'leagues.journeys.set_3' | translate }}</th>
                                        </tr>
                                    </thead>
                                   

                                    <tbody>
                                        <ng-container *ngFor="let match of match_list; let i = index;">
                                        
                                            <tr>
                                                <td class="text-start"><span *ngFor="let player of match.local_players" class="player-name">{{ player.name }} <br> </span></td>
                                                <td>
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="1" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_1_local" [name]="match_list[i].result_set_1_local" type="text"  (keypress)="checkSetResult($event)">
                                                </td>
                                                <td>
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="3" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_2_local" [name]="match_list[i].result_set_2_local" type="text" (keypress)="checkSetResult($event)" >
                                                </td>
                                                <td>
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="3" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_3_local" [name]="match_list[i].result_set_3_local" type="text" (keypress)="checkSetResult($event)" >
                                                </td>
                                            </tr>

                                            <tr >
                                                <td><span *ngFor="let player of match.visiting_players" class="player-name">{{ player.name }} <br></span></td>
                                                <td >
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="1" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_1_visiting" [name]="match_list[i].result_set_1_visiting" type="text"  (keypress)="checkSetResult($event)">
                                                </td>
                                                <td >
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="3" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_2_visiting" [name]="match_list[i].result_set_2_visiting" type="text" (keypress)="checkSetResult($event)" >
                                                </td>
                                                <td >
                                                    <input [ngClass]="{'color-blue':match.match_finisehd == '1', 'color-red' : match.match_finisehd == '0' }" class="form-control text-center font-weight" pattern="[0-7]" maxlength="1" tabindex="3" placeholder="-" [ngModelOptions]="{standalone: true}" [(ngModel)]="match_list[i].result_set_3_visiting" [name]="match_list[i].result_set_3_visiting" type="text" (keypress)="checkSetResult($event)" >
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="test"></td>
                                            </tr>

                                        </ng-container>
                                        
                                   </tbody>

                                </table>
                            </div>

                            
                            <div class="col-md-12 my-4" *ngIf="error_message != ''">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                                    <strong>{{'commun_translations.error' | translate }}</strong> {{ error_message }}
                                    <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                    <ul *ngIf="message_errors.length > 0">
                                        <li *ngFor="let error of message_errors">{{ error }}</li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="col-md-12 my-4" *ngIf="success_message != ''">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{'commun_translations.success' | translate }} </strong>{{ success_message }}
                                    <button (click)="cleanMessage()" type="button" class="btn-close" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-12" *ngIf="hasPermission('edit_league')">
                                <div class="text-end">
                                    <button class="btn btn-primary submit-form me-2 my-4" (click)="saveResult()">{{'commun_translations.save' | translate }} </button> &nbsp;
                                </div>
                            </div>                          
                            
                        </form>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>