
<div class="main-wrapper" id="home">

    <app-home-header></app-home-header>

    <div class="hero-section auto-height text-center">
        <div class="container">
            <div class="hero-wrap">
                    <div class="content content-policy text-start">
                        <h1 >Cookie Policy</h1>
                        <p>
                            This Cookie Policy explains how weloveracket.com ("I," "my," or "me") uses cookies and similar tracking technologies when you 
                            visit https://www.weloveracket.com (the "Site"). By using the Site, you agree to the use of cookies as described in this policy. 
                        </p>
                        
                        <h3>1. What Are Cookies?</h3>
                        <p>Cookies are small text files placed on your device when you visit a website. They are widely used to make websites work more efficiently, 
                            as well as to provide reporting information.
                        </p>

                        <h3>2. How I Use Cookies</h3>
                        <p>I may use cookies for various purposes, including:</p>
                        <p><b>Essential Cookies:</b> These cookies are necessary for the Site to function and cannot be switched off in my system. They are usually 
                            only set in response to actions made by you, such as setting your privacy preferences or logging in.
                        </p>
                        <p><b>Performance and Analytics Cookies:</b> These cookies allow me to track visits and traffic sources so I can measure and improve the 
                            performance of my Site. They help me understand which pages are the most and least popular.
                        </p>

                        <h3>3. Third-Party Cookies</h3>
                        <p>Some content or applications on the Site are served by third parties, including analytics services like Google Analytics. These third parties may use cookies to collect information about you when 
                            you interact with their services.</p>

                        <h3>4. Your Cookie Choices</h3>
                        <p>Most web browsers allow you to control cookies through their settings preferences. However, if you disable certain cookies, some parts of the Site may not function properly.</p>
                        <p><b>Browser Settings:</b> You can adjust your browser settings to refuse or delete cookies. Please refer to your browser's help section for instructions.</p>
                        <p><b>Opt-Out:</b> To opt-out of Google Analytics, visit this <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">link</a>.</p>


                        <h3>5. Changes to This Cookie Policy</h3>
                        <p>I may update this Cookie Policy from time to time to reflect changes in my practices or for other operational, legal, or regulatory reasons.</p>

                        <h3>6. Contact Me</h3>
                        <p>If you have any questions about this Cookie Policy, you can contact me at:</p>
                        <p><b>Email:</b> support@weloveracket.com</p>

                        <h3>&nbsp;</h3>
                        <p>&nbsp;</p>


                    </div>
              
            </div>
        </div>
    </div>

</div>